# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Variables / secrets
*.tfvars
*.tfvars.json
.env

# Lambda build artifacts
*.zip
__pycache__/
*.pyc

# Docker
*.tar

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
